{% extends 'templates/default.twig' %}
{% block stylesheets %}
{{ parent() }}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css" rel="stylesheet" />
<style>

#SELECT_tag {

	width:300px;
}
#DIV_added_tag{
	padding-bottom:10px;
}

</style>

{% endblock %}

{% block result %}
<div id="jwPlayer">Loading the player...</div>

<div id="DIV_scene_tag" class='white_container'>
	<h4>{{db_data.artist_name}} - {{db_data.title}}</h4>

		<div id="DIV_tag"></div>
				<button class="btn btn-success" id='btn_show_add_tag' onclick="show_add_tag()">Add TAG</button><br><br>
            <div id='add_tag' class='hide'>

				<select id='SELECT_tag'  class='js-example-basic-single'>
					<option></option> <!--empty placeholder -->
						<optgroup label='Tags in video'>
							{% for tag in db_tags_in_this_video %}
								<option value='{{tag}}'>{{tag}}</option>
								{% endfor %}
								</optgroup>
									<optgroup label='Tags in database'>
										{% for tag in all_tags_minus_tags_in_video %}
										<option value='{{tag}}'>{{tag}}</option>
											{% endfor %}
						</optgroup>
					  </select><br><br>

<form id='timer_tag' class="form hide">
	<b><p class='text-center'>Select exposure time of the tag or just press Add TAG button to tag a whole music video</p></b>
    <div class="form-group">

		<div class='col-xs-5' id='start'>
			<p class='text-center'> START (mm:ss)</p>
		<div class="col-md-4">
        <input class="form-control" type='number' id='tag_start_mm' min='0' max='{{ mm }}' value='0'>
    </div>
  <div class="col-md-4">
        <input class="form-control" type='number' id='tag_start_ss' min='0' max='59' value='0'>
    </div>
		</div>

		<div class='col-xs-5' id='stop'>
			<p class='text-center'>STOP (mm:ss)</p>
		<div class="col-md-4">
        <input class="form-control" type="number" id='tag_stop_mm' min='0' max='{{ mm }}' value='{{ mm }}'>
    </div>
		<div class="col-md-4">
        <input class="form-control" type="number" id='tag_stop_ss' min='0' max='59' value='{{ ss }}'>
    </div>
		</div>
		</div><br>
	<button type='button' class='btn btn-warning center-block' id='BUTTON_save_tag' onclick='add_tag()'>Add TAG</button>
</form>


				<br>
			<div id='DIV_added_tag' class='col-md-12'></div>
			<div id='DIV_save_tag'>

				<form action='save_tag.php' method='post' id='FORM_save_tag'>
                    <input type='hidden' id='tag_to_save' name='tag_to_save' >
                    <input type='hidden' id='video_id' name='video_id' value='{{ ID }}' >
                    <br>
                    <button id='BUTTON_insert_tag' class='btn btn-danger'>Save</button>

                    <p id='RESULT_add_tag'></p>
					</form>
			</div><!-- DIV_save_tag -->

		</div><!-- DIV_scene_tag -->

</div><!-- col-xs-8 col-sm-6 col-md-9 col-lg-11 -->

{% endblock %}

{% block javascript %}

<script type="text/javascript" src="jwplayer/jwplayer.js"></script>
<script type="text/javascript">jwplayer.key="EHyQcEV/+xaiZBMA2fyFf1EXPaenQheu9aHdkw=="</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js"></script>
<script>

	load_tag();


	function complete_tag(video_id,tag_id){
     $.ajax({
    type     : "POST",
    url      : "get/complete_tag.php?video=" + video_id + "&tag=" + tag_id,
    success : function(msg) { load_tag();
    },
 });}

	 function uncomplete_tag(video_id,tag_id){
     $.ajax({
    type     : "POST",
    url      : "get/uncomplete_tag.php?video=" + video_id + "&tag=" + tag_id,
    success : function(msg) {load_tag();
    },
 });}

	 function delete_red_tag(video_id,tag_id){
     $.ajax({
    type     : "POST",
    url      : "get/delete_red_tag.php?video=" + video_id + "&tag=" + tag_id + "&duration="+{{db_data.duration_sec}},
    success : function(msg) {
    },
 });}


	function show_add_tag() {
$("#add_tag").addClass("show");
$("#btn_show_add_tag").hide();
}

$("#SELECT_tag").one( "change", function() {
	$("#timer_tag").addClass("show");

});


////////////////////////////////////// TAG
$('#FORM_save_tag').submit(function(){
	return false;
});




$('#BUTTON_insert_tag').click(function(){
 BUTTON_insert_tag.style.visibility='hidden';
	document.getElementById("tag_to_save").value = JSON.stringify(tag_array);
	tag_array = [];
	$.post(
		$('#FORM_save_tag').attr('action'),
		$('#FORM_save_tag :input').serializeArray(),
		function(result){
			$.ajax({
				 type     : "POST",
				url      : "get/get_tag_video.php?q={{ID}}",
				success : function(msg) {
					delete_red_tag();
					document.getElementById("DIV_tag").innerHTML = msg;
					document.getElementById("DIV_added_tag").innerHTML = "Saved";
					setTimeout(function(){ document.getElementById("DIV_added_tag").innerHTML = ""; }, 3000);
				}
			});
		}
	);
});

function load_tag() {
$.ajax({
    type     : "POST",
    url      : "get/get_tag_video.php?q={{ID}}",
    success : function(msg) {
        document.getElementById("DIV_tag").innerHTML = msg;
    }
});
	}

	var BUTTON_insert_tag = document.getElementById('BUTTON_insert_tag');

				 BUTTON_insert_tag.style.visibility='hidden';

 tag_array = [];

	function add_tag() {
						document.getElementById("DIV_added_tag").innerHTML = "";
		var start_mm = 60 * document.getElementById("tag_start_mm").value;
		var start_ss = 1 * document.getElementById("tag_start_ss").value;
		var start = start_mm + start_ss;

		var stop_mm = 60 * document.getElementById("tag_stop_mm").value;
		var stop_ss = 1 * document.getElementById("tag_stop_ss").value;
		var stop = stop_mm + stop_ss;

		var tag_name = document.getElementById("SELECT_tag").value;


		tag_array = [start, stop, tag_name, {{db_data.duration_sec}}];

		if (tag_name.length > 0) {TagCreateButton(start,stop,tag_name);}

		}

	function TagCreateButton(start, stop, tag_name){

		BUTTON_insert_tag.style.visibility='visible';

		var button = document.createElement("BUTTON");
		var button_text = document.createTextNode(tag_name + ' (click to test time)');
						button.appendChild(button_text);
		var button_del = document.createElement("BUTTON");

		button.id = "BUTTON_tag";
		button.className = "btn btn-primary";
		button_del.id = "BUTTON_delete";

		document.getElementById("DIV_added_tag").appendChild(button);
						$(button).hide().fadeIn(500);
		document.getElementById("DIV_added_tag").appendChild(button_del);
						$(button_del).hide().fadeIn(500);


		button.onclick = function () {playerInstance.seekToPause(start,stop)};
		button_del.onclick = function() {
			tag_array = [];
			button.remove();
			button_del.remove();
		 BUTTON_insert_tag.style.visibility='hidden';
		};

	}


	var playerInstance = jwplayer("jwPlayer");
    playerInstance.setup({
    file: "http://www.youtube.com/watch?v={{db_data.youtube_id}}",
width: "80%",
aspectratio: "16:9",
});

			playerInstance.seekToPause = function(secSeek,secPause){
			            var x = 1000*(secPause - secSeek);
						this.seek(secSeek);
						playerInstance.once('play', function(event){
						setTimeout(function(){ playerInstance.pause(); }, x);
			})}



$('#SELECT_tag').select2({placeholder: "Select TAG or type a new one",tags: true});

</script>
{% endblock %}
